:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  letter-spacing: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.lg-backdrop {
  background-color: white !important;
}

.lg-outer .lg-thumb-outer {
  background-color: white !important;
}

.lg-counter {
  display: none !important;
}

.lg-sub-html {
  display: none !important;
}
.lg-download {
  display: none !important;
}

.lg-next,
.lg-prev {
  color: #ffffff !important;
}

.lg-toolbar .lg-icon {
  color: black !important;
}

.slick-prev:before,
.slick-next:before {
  color: #664343 !important;
  font-size: 1.5rem !important;
}

/* photo swipe */
.pswp__img--placeholder--blank {
  display: none !important;
}

.pswp img {
  max-width: none !important;
  object-fit: contain !important;
}
