.about__container {
  min-height: 100vh;
  padding: 4rem 0;
  background: rgb(251, 251, 251);
}

.about__container h2 {
  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.about__container h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9; /* szary kolor linii */
  margin-top: 3rem;
}

.content__container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 0rem 9%;
}

.image__container {
  width: 30%;
}

.content__container span {
  font-size: 2.3rem;
  font-weight: bold;
}

.content__container p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.button__container {
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .image__container {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .content__container {
    gap: 5rem;
    flex-direction: column;
  }

  .image__container {
    margin: auto;
  }
  .content__container span {
    font-size: 2rem;
  }

  .content__container p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .about__container h2 {
    padding: 0rem 6%;
    font-size: 2.6rem;
  }
}
@media (max-width: 600px) {
  .about__container h2 {
    font-size: 2rem;
  }
  .image__container {
    width: 80%;
  }
}
