.exhibitions__container {
  min-height: 100vh;
  background: rgb(251, 251, 251);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.exhibitions__container h2 {
  text-align: center;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.exhibitions__container h3 {
  padding: 0rem 9%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

.exhibitions__container ul {
  padding: 0rem 9%;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  column-gap: 8rem;
}

.exhibitions__container ul li {
  list-style: none;
  font-size: 1.2rem;
}

.exhibitions__container h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.exhibitions__container h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9; /* szary kolor linii */
  margin-top: 3rem;
}

@media (max-width: 900px) {
  .exhibitions__container ul {
    padding: 4rem 6%;
    margin-top: 0rem;
    gap: 2rem;
    column-gap: 3rem;
  }
  .exhibitions__container ul li {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .exhibitions__container h2 {
    padding: 0rem 6%;
    font-size: 1.8rem;
  }
  .exhibitions__container h3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .exhibitions__container h4 {
    font-size: 1.2rem;
  }
  .exhibitions__container ul {
    padding: 0rem 9%;
    padding-bottom: 0rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
  }
}
